.UdinraTwitterAqua {
    background-color: lightcyan;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid aqua;
    padding: 15px;
    margin: 15px;
}
.UdinraTwitterTeal {
    background-color: azure;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid teal;
    padding: 15px;
    margin: 15px;
}
.UdinraTwitterChocolate {
    background-color: bisque;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid chocolate;
    padding: 15px;
    margin: 15px;
}
.UdinraTwitterCoral {
    background-color: cornsilk;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid coral;
    padding: 15px;
    margin: 15px;
}
.UdinraTwitterGolden {
    background-color: khaki;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid darkGoldenRod;
    padding: 15px;
    margin: 15px;
}
.UdinraTwitterPink {
    background-color: MistyRose;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid Pink;
    padding: 15px;
    margin: 15px;
}
.UdinraTwitterLightGreen {
    background-color: HoneyDew;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid LimeGreen;
    padding: 15px;
    margin: 15px;
}
.UdinraTwitterSeaGreen {
    background-color: LightCyan;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid LightSeaGreen;
    padding: 15px;
    margin: 15px;
}
.UdinraTwitterGrey {
    background-color: WhiteSmoke;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid Grey;
    padding: 15px;
    margin: 15px;
}
.UdinraTwitterTan {
    background-color: Wheat;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid Tan;
    padding: 15px;
    margin: 15px;
}
.UdinraTwitterWhite {
    background-color: White;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid Black;
    padding: 15px;
    margin: 15px;
}
.UdinraTwitterNone {
}